<footer id="l-footer" class="l-footer" data-scroll-section>
	<div class="l-footer__wrapper wrp-container-footer">
		<div class="l-footer__row">
			<div class="l-footer__col l-footer__col--first">
				<h3 class="hdg-lv3 l-footer__lv3">Công ty TNHH thương mại sản xuất Rồng Đỏ</h3>
				<div class="l-footer__logo-check">
					<div class="l-footer`__logo">
						<a href="../"><img src="../assets/images/logo.png" alt="★★★" class="fluid-image"/></a>
					</div>
					<div class="l-footer__check">
						<img src="../assets/images/img_check_bocongthuong.png" alt="★★★" class="fluid-image"/>
					</div>

				</div>
			</div>
			<div class="l-footer__col l-footer__col--second">
				<h3 class="hdg-lv3 l-footer__lv3">Danh mục</h3>
				<ul class="l-footer__sitemap">
					<li><a href="../" class="l-footer__link">Trang chủ</a></li>
					<li><a href="../company/" class="l-footer__link">Giới Thiệu</a></li>
					<li><a href="../service/" class="l-footer__link">Dịch Vụ</a></li>
					<!-- <li><a href="../accessibility/" class="l-footer__link">Đối Tác</a></li> -->
					<li><a href="../contact/" class="l-footer__link">Liên hệ</a></li>
				
				</ul>
			</div>
			<div class="l-footer__col l-footer__col--third">
				<h3 class="hdg-lv3 l-footer__lv3">Thông Tin Liên Hệ</h3>
				<p class="l-footer__p"><span>Địa Chỉ: </span>Lô 15 KCN Quang Minh, Mê Linh, Hà Nội, Việt Nam </p>
				<p class="l-footer__p"><span>Thời gian: </span>Thứ 2 - thứ 7 từ 8h00 - 17h00 hàng tuần</p>
				<p class="l-footer__p"><span>Số điện thoại: </span> 052-757-3255 </p>
				<p class="l-footer__p"><span>Email: </span> demo1@gmail.com </p>
			</div>
		</div>
	</div>
	<p class="l-footer__txt-copyright">
		<small>Copyright &copy; 2008 - 2023 Rongdo - All Rights Reserved.</small>
	</p>

	<div class="contact_icon">
		<p class="nav-right-fixed zalo"><a href="https://zalo.me/0344464195" target="_blank"><img src="../assets/images/icon-zalo.png"/></a></p>
		<p class="nav-right-fixed call"><a href="tel:+0344464195"><img src="../assets/images/icon-call.png"/></a></p>
		<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->
		<p class="nav-right-fixed messenger fb-customerchat setup_tool" logged_in_greeting="Hello! How can we help you today?"><a href="fb-messenger://user/100051838421280"><img src="../assets/images/icon-mess.png"/></a></p>
		<p class="nav-backtotop nav-right-fixed"><a href="#l-document">&nbsp;</a></p>
		
	</div>
	
</footer>
	