<div class="box-to-top">
	<div class="box-to-top__button jsScrollTop is-scroll">
	<svg class="scroll-to-top" xmlns="http://www.w3.org/2000/svg" width="44" height="44" version="1" style="display: block;"><defs><circle id="scroll-to-top-b" cx="22" cy="21" r="20"></circle><filter id="scroll-to-top-a" width="118%" height="118%" x="-9%" y="-6%" filterUnits="objectBoundingBox"><feOffset dy="1" in="SourceAlpha" result="f"></feOffset><feGaussianBlur in="f" result="f" stdDeviation="1"></feGaussianBlur><feComposite in="f" in2="SourceAlpha" operator="out" result="f"></feComposite><feColorMatrix in="f" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"></feColorMatrix></filter></defs><g fill="none" fill-rule="evenodd"><use fill="#000" filter="url(#scroll-to-top-a)" xlink:href="#b"></use><use fill="#fff" xlink:href="#scroll-to-top-b"></use><circle cx="22" cy="21" r="20"></circle><path fill="#D0011B" d="M12 13h20v2H12zm11 7v13h-2V20l-6 6-1-2 8-8 9 8-2 2z"></path></g></svg>
	<!-- <span class="box-to-top__text">TOP</span> -->
	</div>
</div>
<footer id="l-footer" class="l-footer" >
<div class="wrp-container">
	<div class="footer">
		<div class="grid-row footer--grid">
			<div class="grid-col--3">
				<div class="footer--logo">
					<h1 id="sitelogo">
						<a href="../"><img src="../assets/images/logo.png" alt="★★★"/></a>
					</h1>
					<div class="footer--check">
						<img src="../assets/images/img_check_bocongthuong.png" alt="★★★"/>
					</div>
				</div>
			</div>
			<div class="grid-col--4">
				<div class="footer--address">
					<h3 class="hdg-lv3"> <span class="color-primary">Thông tin liên hệ</span></h3>
					<div class="footer--infomation">
						<p>Công Ty TNHH XD TM Trang Trí Nội Thất  TD.CORP</p>
						<p>Mã số thuế: 0312218097</p>
						<p>Địa chỉ: 98/19 Thích Quảng Đức, Phường 5, Quận Phú Nhuận, TPHCM</p>
						<p>văn phòng : 55 Thành Mỹ, Phường 8, Quận Tân Bình, TP HCM</p>
					</div>
				</div>
			</div>
			<div class="grid-col--2">
				<div class="footer--policy">
					<h3 class="hdg-lv3"> <span class="color-primary">Thông tin liên hệ</span></h3>
					<ul class="lst-link">
						<li><a href="★★★">Điều khoản chung</a></li>
						<li><a href="★★★">Chính sách bảo mật</a></li>
						<li><a href="★★★">Hợp đồng tham khảo</a></li>
						<li><a href="★★★">Tư Vấn Kỹ Thuật</a></li>
						<li><a href="★★★">bảo hành - khuyến mãi</a></li>
					</ul>
				</div>
			</div>
			<div class="grid-col--3">
				<div class="footer--smedia" style="position: relative;">
					<h3 class="hdg-lv3"> <span class="color-primary">Liên hệ qua các nền tảng</span></h3>
					<ul class="lst-media grid-row">
						<li><a href="★★★"><img src="../assets/images/facebook.png" alt="★★★"/></a></li>
						<li><a href="★★★"><img src="../assets/images/icon-zalo.png" alt="★★★"/></a></li>
						<li><a href="★★★"><img src="../assets/images/icon-mess.png" alt="★★★"/></a></li>
					</ul>
					<p class="footer--txt txt-uppercase">Tư vấn báo giá hotline: 182201476</p>
				</div>
			</div>
		</div>
		<div class="copyright">
			 <p class="txt-copyright"> <small>Copyright &copy; 2013 - 2024 TD.CORP - All Rights Reserved.</small></p>
		</div>
		
	</div>
	   
</div>

</footer>
	