<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no" />
	<title>@@title</title>
	<meta
		name="description"
		content="★★★"
	/>
	<meta name="keywords" content="★★★" />
	<meta property="og:title" content="@@title" />
	<meta
		property="og:description"
		content="★★★"
	/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="@@url" />
	<meta property="og:image" content="http://www.shoenekeisan.net/assets/images/ogp.png" />
	<meta property="og:site_name" content="★★★" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="../assets/css/style.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
</head>

	<body>
		<div id="l-document" data-scroll-container>
			<header id="l-header" class="l-header" >
				<div class="l-header__wrapper">
					<h1 id="sitelogo">
						<a href="../"
							><img src="../assets/images/logo.png" alt="★★★" class="fluid-image"
						/></a>
					</h1>
					<a class="nav-global-menu">
						<span class="b1" aria-hidden="true"></span>
						<span class="b2" aria-hidden="true"></span>
						<span class="b3" aria-hidden="true"></span>
					</a>
					<nav class="nav-global-wrap">
						<ul class="nav-global">
							<li class="">
								<a href="../" class="nav-item">Trang Chủ</a>
							</li>
							<li class="">
								<a href="../company/" class="nav-item">giới thiệu</a>
							</li>
							<li class="">
								<a href="../service/" class="nav-item">dịch vụ</a>
							</li>
							<!-- <li class="">
								<a href="../accessibility/" class="nav-item">đối tác</a>
							</li> -->
							<li class="">
								<a href="../contact/" class="nav-item">liên hệ</a>
							</li>
						
						</ul>

					</nav>
				</div>
			</header>
			<!-- <div class="contact">
				<div class="contact__fixed">
					<a href="../estimate/" class="contact__btn btn"
						><img src="../assets/images/icn-calculator.png"
					/></a>
					<a href="../contact/" class="contact__btn btn"
						><img src="../assets/images/email.png"
					/></a>
				</div>
			</div> -->
