.l-footer {
	margin-top: 1rem;
	position: relative;

	&__lv3{
		font-size: 1.8rem;
		padding-left: 0;
		text-transform: uppercase;
		text-align: center;
	}
	&__logo-check{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		text-align: center;

		& > div{
			width: 50%;
		}
		@media screen and (max-width: 767px) {
		}
		& img {
				width: 18.6rem;
			}
	}
	&__sitemap {
		display: flex;
		flex-wrap: wrap;

		& li {
			margin-bottom: 1rem;
			width: 50%;
			text-align: center;

			// @media screen and (max-width: 959px) {
			// 	width: 15rem;
			// }

			// &:nth-of-type(2n) {
			// 	@media screen and (max-width: 959px) {
			// 		width: calc(100% - 15rem);
			// 	}
			// }
		}
	}
	&__p{
		& span{
			font-weight: bold;
		}
	}


	@media screen and (max-width: 767px) {
		margin-top: 10rem;
	}
	&__wrapper {
		padding-top: 8rem;
		padding-bottom: 8rem;
		@media screen and (max-width: 767px) {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
		@media screen and (max-width: 767px) {
			display: flex;
		}
	}
	&__col {
		@media screen and (max-width: 959px) {
			margin-right: 0;
		}
		&--first {
			width: 33.33%;
			@media screen and (max-width: 959px) {
				margin-top: 0;
				width: 50%;
			}
			@media screen and (max-width: 767px) {
				width: 100%;
			}
		}
		&--second {
			width: 33.33%;
			@media screen and (max-width: 959px) {
				width: 50%;
			}
			@media screen and (max-width: 767px) {
				width: 50%;
			}
			@media screen and (max-width: 580px) {
				width: 100%;
			}
		}
		&--third {
			
			margin-right: 0;
			width: 33.33%;
			@media screen and (max-width: 959px) {
				width: 50%;
			}
			@media screen and (max-width: 767px) {
				width: 50%;
			}
			@media screen and (max-width: 580px) {
				text-align: center;
				width: 100%;
			}

			& .hdg-lv3{
				@media screen and (max-width: 580px) {
					text-align: center;
				}
				text-align: left;
			}
		}
	}
	&__logo {
		font-size: 2rem;
		font-weight: bold;
		color: #7fbf3a;
		@media screen and (max-width: 767px) {
			font-size: 1.6rem;
		}
		& + p {
			margin-top: 1.5rem;
		}
	}
	&__txt,
	&__link {
		display: block;
		color: #000;
		transition: all 0.3s ease-in-out;
		@media screen and (max-width: 767px) {
			font-size: 1.6rem;
		}
	}
	&__link:hover {
		color: var(--color_red);
	}
	&__title {
		font-size: 2rem;
		font-weight: bold;
		color: #fff;
		@media screen and (max-width: 767px) {
			font-size: 1.6rem;
		}
		& + ul,
		& + a {
			margin-top: 1.5rem;
			@media screen and (max-width: 767px) {
				margin-top: 1rem;
			}
		}
	}
	
	&__txt-copyright {
		border-top: 0.1rem solid #82868a;
		padding: 3rem 0;
		font-size: 1.4rem;
		color: #82868a;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		@media screen and (max-width: 767px) {
			font-size: 1.2rem;
		}
	}
}
