:root {
    --color_red: #ED1C24;
    --bg-color-grey : #212326;
    --color-grey:#212326;

    --color-text: #333;
    --color-white:#fff;

    --color-primary: #1CA8CB;

    --color-second: #0D3930;
}